<h1>Prezentace</h1>
<div class="presentation-container">
  <div class="presentation-slide">
    <img [src]="currentSlideUrl" alt="Snímek prezentace">
  </div>
  <div class="presentation-controls">
    <button type="button" aria-label="First slide" (click)="onFirstSlide()" [disabled]="currentSlideId === 1">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-first" />
      </svg>
    </button>
    <button type="button" aria-label="Prev slide" (click)="onPrevSlide()" [disabled]="currentSlideId === 1">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-backward2" />
      </svg>
    </button>
    <button type="button" aria-label="Next slide" (click)="onNextSlide()" [disabled]="currentSlideId === maxSlides">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-forward3" />
      </svg>
    </button>
    <button type="button" aria-label="Last slide" (click)="onLastSlide()" [disabled]="currentSlideId === maxSlides">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-last" />
      </svg>
    </button>
  </div>
</div>
