<h1>Jak udělat z obyčejné webové aplikace progresivní</h1>
<ul class="Program-info">
  <li>
    <svg>
      <use xlink:href="assets/img/sprite.svg#icon-calendar"></use>
    </svg>
    <span>Pátek 14. května 2021</span>
  </li>
  <li>
    <svg>
      <use xlink:href="assets/img/sprite.svg#icon-map2"></use>
    </svg>
    <span>Kdesi v síti</span>
  </li>
</ul>

<h2 class="u-centerText">Agenda</h2>
<ul class="Program-details">
  <li>
    <div class="Program-details">
      PWA Checklist<br />
      <small>Povinné úkony, aneb co by měla každá PWA mít</small>
    </div>
  </li>
  <li>
    <div class="Program-details">
      Lighthouse<br />
      <small>Rady správce majáku</small>
    </div>
  </li>
  <li>
    <div class="Program-details">
      Manifest<br />
      <small>Marxovo dědictví</small>
    </div>
  </li>
  <li>
    <div class="Program-details">
      Service Worker<br />
      <small>Pojednání o dělnické třídě</small>
    </div>
  </li>
</ul>