<nav class="Sidebar" [class.visible]="visible">
  <div class="Sidebar-container" (click)="onClick()">
    <a routerLink="/home" routerLinkActive="active" class="Sidebar-link">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-list-numbered"></use>
      </svg>
      <span>Program</span>
    </a>
    <a routerLink="/refreshments" routerLinkActive="active" class="Sidebar-link">
    <svg>
        <use xlink:href="assets/img/sprite.svg#icon-mug"></use>
      </svg>
      <span>Občerstvení</span>
    </a>
    <a routerLink="/presentation" routerLinkActive="active" class="Sidebar-link">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-images"></use>
      </svg>
      <span>Prezentace</span>
    </a>
  </div>
</nav>